@media all and (min-width: 320px) {

.homeLogo {
	width: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

}

.homeNav {
	display: block;
	text-align: center;
}

header img {
	width: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.showcase img {
	width: 100%;
}

.showcase-padding {
	padding: 20px;
}

nav {
	background-color: #ffffff;
	display: none;
}

nav ul li {
	border-bottom: 1px solid #4F2211;
}

nav ul li a {
	font-family: 'Slabo 13px', Arial, sans-serif;
	font-size: 18px;
	color: purple;
	padding: 20px;
	display: inline-block;
	text-decoration: none; 
	font-weight: 700;
	width: 100%;
}

#navBtn {
	width: 40px;
	height: 40px;
	line-height: 40px; 
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	color: purple;
	border: 1px solid purple;


	}

nav ul li:hover {
		background-color: #E4ADFF;
	}

h1 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 10px;
}

h2 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
}

p {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	padding: 10px;
}

/*.photoGrid img {
	width: 100%;
} */

aside {
	padding: 10px;
}

aside img {
	width: 100%;
}

aside iframe {
	width: 100%;
}

.clearfix {
	clear: both;
}

.slider-crop {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative; /* --- needs to be defined to the CHILD, #slider previous, can define the absolue position it should live at */
}


.sliderBtn {
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,.6); /* 4th value (a, alpha) is opacity, so .6=60% */
	position: absolute;
	top: 140px;
	z-index: 500; /* z is Z AXIS and positions element in it's appropriate layer */
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	cursor: pointer; /* changes the mouse to a different cursor when hovering */

}

#slider-previous {
	left: 0px;
}

#slider-next {
	right: 0px;
}

ul.gallery-slider {
	width: 2500px;
	
}

ul.gallery-slider li {
	width: 500px;
	float: left;

}

ul.gallery-slider li img {
	width: 100%;
}

footer p {
	background-color: #E4ADFF;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}	



} /*------END MOBILE STYLES-----*/

@media all and (min-width: 793px) {


#navBtn {
	display: none;
}

header img {
	float: left;
}

img.homeLogo {
	width: 180px;
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

}

nav {
	display: block;
	float: right;
	margin-top: 100px;
}

nav ul li {
	display: inline-block;
	border: 0px;
}

main.showcase {
	width: 100%;
}

main {
	width: 53%;
	float: left;
}
.photoGrid {
	padding-top: 100px;
}
aside {
	width: 42%;
	float: right;
	padding: 10px;
}

} /*------END TABLET STYLES------*/

@media all and (min-width: 960px) {

.container {
	width: 960px;
	margin: 0px auto;
}

} /*-----END DESKTOP STYLES-----*/